*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,body{
  width: 100%;
  height: 100%;
  background-color: #333;
}

.parent{
  display: flex;
  flex-wrap: wrap;
}

.card{
  height: 330px;
  width: 300px;
  border: 2px solid white;
  border-radius: 10px;
  margin: 10px;
  padding: 30px;
  text-align: center;
  background-color: rgba(128, 0, 0, 0.115);
}

.card h1{
  color: white;
  font-size: 40px;
  font-weight: 800;
  margin-bottom: 10px;
}

.card p{
  color: white;
  font-size: 20px;
  margin-bottom: 20px;
}

.card .btn{
  padding: 10px;
  border-radius: 8px;
  border: none;
  font-weight: 900;
  background-color: white;
  cursor: pointer;

}

.card img{
  border-radius: 50%;
  height: 100px;
  width: 100px;
  border: 2px solid white;
  object-fit: cover;
  background-position: center;
}

